@{
    ViewData[index: "Title"] = "Đăng ký";
}
<div class="row justify-content-center mt-5 text-center">
    <div class="col-md-4">
        <div class="alert alert-info border-0 shadow-sm">
            <i class="bi bi-info-circle me-2"></i> Chức năng đăng ký đang được bảo trì! 
            <br>Vui lòng dùng tài khoản <b>admin/123</b>.
            <br><a asp-action="Login" class="btn btn-sm btn-link">Quay lại Đăng nhập</a>
        </div>
    </div>
</div>