<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản trị viên - BM Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">BM ADMIN</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Products" asp-action="Index">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" asp-controller="Home" asp-action="Index">Xem cửa hàng</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>